.buton {
	text-decoration: none;
	color: #C0C0C0;
}

.help {
	color: white;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 9px;
	color: white;
	text-decoration-color: #F08080;
}
