.buton {
	color: #C0C0C0;
	text-decoration: none;
}

.help {
	color: white;
}

a {
	transition: all .07s ease-in-out;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 10px;
	color: white;
	text-decoration-color: #F08080;
	opacity: 1;
}

.active {
	text-decoration: underline;
	text-decoration-thickness: 10px;
	color: white;
	text-decoration-color: #F08080;
}

.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	background: #696969;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	width: 100%;
	margin-top: 22%;
}

/*.search-box:hover > .search-txt {
	padding: 0 6px;

}*/
.search-div {
	position: relative;
	width: 16%;
	left: 25%;
}

.popular {
	position: relative;
	left: 45%;
}

.popular-p {
	position: absolute;
	color: white;
	font-size: 25px;
	font-weight: 600;
	margin-top: 6.5%;
}

.news {
	position: relative;
	left: 55%;
}

.news-p {
	position: absolute;
	color: #C0C0C0;
	font-size: 25px;
	font-weight: 600;
	margin-top: 6.5%;
}

.gshop {
	position: relative;
	left: 10%;
	
}

.gshop-p {
	position: absolute;
	color: white;
	font-size: 40px;
	font-weight: 700;
	margin-top: 6%;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	transition: 0.4s;
}

.dropbtn {
    border: none;
    cursor: pointer;
	width: 6%;
	height: 6%;
	position: relative;
	left: 30%;
	margin-top: 12%;
}


.dropdown {
    position: relative;
    display: inline-block;
	margin-left: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F08080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #C0C0C0;}

.show {display:block;}

.navbar-download {
  	background-color: #F08080;
  	border: none;
  	color: white;
  	padding: 12px 30px;
  	cursor: pointer;
  	font-size: 17px;
	height: 8%;
	width: 10%;
	position: fixed;
	top: 0;
	right: 0;
}

.navbar-download:hover {
	background-color: #f05656;
}

.navbar {
	position: fixed;
	width: 100%;
	background-color: #696969;
	height: 8%;
	box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.help {
	font-size: 26px;
	text-decoration: none;
	color: #C0C0C0;
	font-weight: 700;
	margin-left: 10%;
}

.navbar-brend {
	font-weight: 700;
	font-size: 26px;
	margin-left: 10%;
	text-decoration: none;
	color: #C0C0C0;
}

body {
	width: 100%;
	overflow-x:hidden;
}

* {
	margin: 0;
	padding: 0;
}

.logo {
	position: absolute;
	width: 100%;
	height: 100%; 
	top: 10%;
  	/*transform: translate(-50%, -50%);*/
}

.logo-img {
	height: 1380%;
	width: 5%;
	position: relative;
	top:500%;
	left: 2%;
}

.brend-div {
	width: 10%;
	height: 8%;
	position: fixed;
	top: 2%;
	left: 12%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.help-div {
	width: 10%;
	height: 8%;
	position: fixed;
	top: 2%;
	left: 22%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.login-img {
	position: relative;
	width: 6%;
	height: 6%;
}

.log {
	position: relative;
	top: 28px;
	left: 53%;
}

.main-content {
	position: relative;
	width: 50%;
	height: 60%;
	top: 220px;
	left: 10%;
}

.main-img {
	position: relative;
	width: 100%;
	height: 60%;
}

.stalk {
	position: relative;
	left: 71%;
	bottom: 198px;
	width: 10%;
	height: 15%;
}

.stalk-img {
	width: 45%;
	height: 35%;
	margin-left: 20%;
	margin-top: 6%;
}

.metro {
	width: 16%;
	position: relative;
	left: 70%;
	bottom: 150px;
	height: 15%;
}

.metro-img {
	width: 30%;
	height: 35%;
	margin-left: 20%;
	margin-top: 6%;
}

.s {
	width: 16%;
	position: relative;
	left: 70%;
	bottom: 100px;
	height: 15%;
}

.s-img {
	width: 30%;
	height: 35%;
	margin-left: 20%;
	margin-top: 6%;
}

.sale {
	position: relative;
	left: 5%;
	bottom: 40px;
}
.sale-p {
	color: white;
	font-size: 50px;
}

.next {
	width: 3%;
	height: 3%;
	position: relative;
	left: 70%;
	bottom: 340px;
}

.priv {
	position: relative;
	width: 3%;
	height: 3%;
	left: 70%;
	bottom: 340px;
}

.st1 {
	position: relative;
	left: 5%;
	width: 15%;
	height: 20%;
}

.st2 {
	position: relative;
	width: 15%;
	height: 20%;
	left: 20%;
}

.st3 {
	position: relative;
	width: 15%;
	height: 20%;
	left: 35%;
}
